{% extends "base.html" %}
{% block main %}
<body>
    <main>
        <div class="grid-container">
            <div class="general-info">
                <h1>Company Name</h1>
                <p class="company">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim faucibus, ultricies enim eu, scelerisque mauris. Donec viverra quam ac neque euismod luctus. Nulla laoreet neque quis leo hendrerit luctus. Ut sodales ullamcorper mauris ac tempus. Quisque at est ac tortor dapibus consequat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc bibendum dolor in imperdiet pharetra. Proin maximus malesuada sodales.</p>
            </div>
            <div class="people">
                <div class="profile">
                    <div id="person1">
                        <img src="../static/images/blank_profile.jpg" alt="profile picture" width="200" height="200">
                        <h2>Name 2</h2>
                        <p>Job: job_title</p>
                    </div>
                    <div class="person-info1">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales nisl elit, eget suscipit felis auctor interdum. Proin efficitur arcu eget mi placerat facilisis. Mauris viverra justo ut urna pellentesque euismod.</p>
                    </div>
                </div>
                <div class="profile">
                    <div id="person1">
                        <img src="../static/images/blank_profile.jpg" alt="profile picture" width="200" height="200">
                        <h2>Name 2</h2>
                        <p>Job: job_title</p>
                    </div>
                    <div class="person-info1">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales nisl elit, eget suscipit felis auctor interdum. Proin efficitur arcu eget mi placerat facilisis. Mauris viverra justo ut urna pellentesque euismod.</p>
                    </div>
                </div>
                <div class="profile">
                    <div id="person1">
                        <img src="../static/images/blank_profile.jpg" alt="profile picture" width="200" height="200">
                        <h2>Name 2</h2>
                        <p>Job: job_title</p>
                    </div>
                    <div class="person-info1">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales nisl elit, eget suscipit felis auctor interdum. Proin efficitur arcu eget mi placerat facilisis. Mauris viverra justo ut urna pellentesque euismod.</p>
                    </div>
                </div>
                <div class="profile">
                    <div id="person1">
                        <img src="../static/images/blank_profile.jpg" alt="profile picture" width="200" height="200">
                        <h2>Name 2</h2>
                        <p>Job: job_title</p>
                    </div>
                    <div class="person-info1">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales nisl elit, eget suscipit felis auctor interdum. Proin efficitur arcu eget mi placerat facilisis. Mauris viverra justo ut urna pellentesque euismod.</p>
                    </div>
                </div>
                <div class="profile">
                    <div id="person1">
                        <img src="../static/images/blank_profile.jpg" alt="profile picture" width="200" height="200">
                        <h2>Name 2</h2>
                        <p>Job: job_title</p>
                    </div>
                    <div class="person-info1">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales nisl elit, eget suscipit felis auctor interdum. Proin efficitur arcu eget mi placerat facilisis. Mauris viverra justo ut urna pellentesque euismod.</p>
                    </div>
                </div>
            </div>
        </div>
        <footer>ACIT 2911</footer>
    </div>
    </main>
</div>
</body>
{% endblock %}