{% extends "base.html" %}
{% block main %}
<body>
    <main>
        <div class="grid-container">
            <div class="general-info">
                <h1 class="Group2">Agile 2911 Group 2</h1>
                <p class="company">The Agile 2911 Group 2 is comprised of BCIT CIT program students. Our game is a recreation of the popular Plants vs Zombies game, originally created by PopCap games.  In our version, we will be including additional entities (both plants and zombies) that never made it into the original game as well as incorporate some base game features.  We will also be programming a website and database that will keep track of player scores.</p>
            </div>
            <div class="people">
                <div class="profile">
                    <div id="person1">
                        <img src="../static/images/di.jpg" alt="profile picture" width="150" height="150">
                        <h2>Di G.</h2>
                        <p>Job: Product Owner / Development Team</p>
                    </div>
                    <div class="person-info1">
                        <p>Di is the Product Owner and is responsible for providing the requirements for the project as well as preparing the product backlog for features that need to be implemented. On top of this, the Product Owner will organize the tasks into sprints that the team needs to complete. Di will also partake in the development team and will be implementing features.</p>
                    </div>
                </div>
                <div class="profile">
                    <div id="person1">
                        <img src="../static/images/tama.png" alt="profile picture" width="150" height="150">
                        <h2>Tama I.</h2>
                        <p>Job: Scrum Master / Development Team</p>
                    </div>
                    <div class="person-info1">
                        <p>Tama has the role of Scrum master which is to ensure that all team members are following the scrum methodology during the project. Tama is also apart of the development team and is focused on managing the github repository.</p>
                    </div>
                </div>
                <div class="profile">
                    <div id="person1">
                        <img src="../static/images/jordan.jpg" alt="profile picture" width="150" height="150">
                        <h2>Jordan G.</h2>
                        <p>Job: Development Team</p>
                    </div>
                    <div class="person-info1">
                        <p>Jordan is part of the development team and is responsible for coding and implementing features into the game. Jordan both develops features as well as tests the product.</p>
                    </div>
                </div>
                <div class="profile">
                    <div id="person1">
                        <img src="../static/images/markus.jpg" alt="profile picture" width="150" height="150">
                        <h2>Markus C.</h2>
                        <p>Job: Development Team</p>
                    </div>
                    <div class="person-info1">
                        <p>Markus is part of the development team and is responsible for developing the website while making sure the website is functional and stylish.</p>
                    </div>
                </div>
                <div class="profile">
                    <div id="person1">
                        <img src="../static/images/nick.png" alt="profile picture" width="150" height="150">
                        <h2>Nicholas C.</h2>
                        <p>Job: Development Team</p>
                    </div>
                    <div class="person-info1">
                        <p>Nicholas is part of the development team and is responsible for developing the website while making sure the website is functional and stylish.</p>
                    </div>
                </div>
            </div>
        </div>
        <footer>ACIT 2911</footer>
    </div>
    </main>
</div>
</body>
{% endblock %}