{% extends "base.html" %}
{% block main %}
<body>
    <div class="grid-container">
        <div class="navbar">
            <img src='../imgs/pvz_logo.png' alt='pvz logo' height='120'>
            <ul>
                <li><a href="about.html">Home</a></li>
                <li><a href="scoreboard.html">Scoreboard</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
        <main>
            <div class="wrapper">
                <div class="general-info">
                    <h1>Company Name</h1>
                    <p class="company">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec enim faucibus, ultricies enim eu, scelerisque mauris. Donec viverra quam ac neque euismod luctus. Nulla laoreet neque quis leo hendrerit luctus. Ut sodales ullamcorper mauris ac tempus. Quisque at est ac tortor dapibus consequat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc bibendum dolor in imperdiet pharetra. Proin maximus malesuada sodales.</p>
                </div>
                <div class="person">
                    <div id="person1">
                        <img src="../imgs/blank_profile.jpg" alt="profile picture" width="200" height="200">
                        <h2>Name 2</h2>
                        <p>Job: job_title</p>
                    </div>
                    <div id="pseron2">
                        <img src="../imgs/blank_profile.jpg" alt="profile picture" width="200" height="200">
                        <h2>Name 2</h2>
                        <p>Job: job_title</p>
                    </div>
                    <div id="pseron3">
                        <img src="../imgs/blank_profile.jpg" alt="profile picture" width="200" height="200">
                        <h2>Name 2</h2>
                        <p>Job: job_title</p>
                    </div>
                    <div id="pseron4">
                        <img src="../imgs/blank_profile.jpg" alt="profile picture" width="200" height="200">
                        <h2>Name 2</h2>
                        <p>Job: job_title</p>
                    </div>
                    <div id="pseron5">
                        <img src="../imgs/blank_profile.jpg" alt="profile picture" width="200" height="200">
                        <h2>Name 2</h2>
                        <p>Job: job_title</p>
                    </div>
                </div>
                <div class="information">
                    <div class="person-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales nisl elit, eget suscipit felis auctor interdum. Vivamus viverra tincidunt dapibus. Nulla a felis nisi. Vivamus auctor mauris a felis pharetra molestie. Duis pulvinar consectetur pharetra. Nulla tellus ex, accumsan et ante tincidunt, malesuada malesuada tellus. Proin efficitur arcu eget mi placerat facilisis. Mauris viverra justo ut urna pellentesque euismod.</p>
                    </div>
                    <div class="person-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales nisl elit, eget suscipit felis auctor interdum. Vivamus viverra tincidunt dapibus. Nulla a felis nisi. Vivamus auctor mauris a felis pharetra molestie. Duis pulvinar consectetur pharetra. Nulla tellus ex, accumsan et ante tincidunt, malesuada malesuada tellus. Proin efficitur arcu eget mi placerat facilisis. Mauris viverra justo ut urna pellentesque euismod.</p>
                    </div>
                    <div class="person-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales nisl elit, eget suscipit felis auctor interdum. Vivamus viverra tincidunt dapibus. Nulla a felis nisi. Vivamus auctor mauris a felis pharetra molestie. Duis pulvinar consectetur pharetra. Nulla tellus ex, accumsan et ante tincidunt, malesuada malesuada tellus. Proin efficitur arcu eget mi placerat facilisis. Mauris viverra justo ut urna pellentesque euismod.</p>
                    </div>
                    <div class="person-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales nisl elit, eget suscipit felis auctor interdum. Vivamus viverra tincidunt dapibus. Nulla a felis nisi. Vivamus auctor mauris a felis pharetra molestie. Duis pulvinar consectetur pharetra. Nulla tellus ex, accumsan et ante tincidunt, malesuada malesuada tellus. Proin efficitur arcu eget mi placerat facilisis. Mauris viverra justo ut urna pellentesque euismod.</p>
                    </div>
                    <div class="person-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales nisl elit, eget suscipit felis auctor interdum. Vivamus viverra tincidunt dapibus. Nulla a felis nisi. Vivamus auctor mauris a felis pharetra molestie. Duis pulvinar consectetur pharetra. Nulla tellus ex, accumsan et ante tincidunt, malesuada malesuada tellus. Proin efficitur arcu eget mi placerat facilisis. Mauris viverra justo ut urna pellentesque euismod.</p>
                </div>
            </div>
        </main>
        <footer>ACIT 2911</footer>
    </div>
</body>
{% endblock %}