<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_styles.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet"> 
    <title>Plants Vs Zombies</title>
</head>
<body class='container'>
    <div class='navbar'>
        <img src="{{ url_for('static', filename='images/pvz_logo.png') }}" alt='pvz logo' height='120'>
        <ul>
            <li><a href="{{ url_for('.home') }}">Home</a></li>
            <li><a href="{{ url_for('.units') }}">Units</a></li>
            <li><a href="{{ url_for('.score') }}">Scoreboard</a></li>
            <li><a href="{{ url_for('.about') }}">About</a></li>
        </ul>
    </div>
{% block main %}
{% endblock %}
</body>

</html>