{% extends "base.html" %}
{% block main %}
    <div class='plantTable'>
        <table>
            <thead>
                <tr>
                    <th>Plant</th>
                    <th>Appearance</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pea Shooter</td>
                    <td><img src="{{ url_for('static', filename='images/peashooter.png') }}"  alt=""></td>
                    <td>It shoots peas!</td>
                </tr>
                <tr>
                    <td>Snow Pea</td>
                    <td><img src="{{ url_for('static', filename='images/snowpea.png') }}"  alt=''></td>
                    <td>Shoots peas that freeze zombies.</td>
                </tr>
                <tr>
                    <td>Sunflower</td>
                    <td><img src="{{ url_for('static', filename='images/sunflower.png') }}"  alt=''></td>
                    <td>Periodically generates gold.</td>
                </tr>
                <tr>
                    <td>Wallnut</td>
                    <td><img src="{{ url_for('static', filename='images/wall_nut.png') }}" ></td>
                    <td>Blocks zombies.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class='zombieTable'>
        <table>
            <thead>
                <tr>
                    <th>Zombie</th>
                    <th>Appearance</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Regular</td>
                    <td><img src="{{ url_for('static', filename='images/zombie.png') }}" ></td>
                    <td>Just a regular zombie.</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
{% endblock %}