<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home_styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body class='container'>
    <div class='navbar'>
        <img src='.images/pvz_logo.png' alt='pvz logo' height='120'>
        <ul>
            <li><a href="{{ url_for('.home') }}">Home</a></li>
            <li><a href="{{ url_for('.score') }}">Scoreboard</a></li>
            <li><a href="{{ url_for('.about') }}">About</a></li>
        </ul>
    </div>
    <div class='plantTable'>
        <table>
            <thead>
                <tr>
                    <th>Plant</th>
                    <th>Appearance</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pea Shooter</td>
                    <td><img src='.../imgs/peashooter.png' alt=""></td>
                    <td>It shoots peas!</td>
                </tr>
                <tr>
                    <td>Snow Pea</td>
                    <td><img src='.../imgs/snowpea.png' alt=''></td>
                    <td>Shoots peas that freeze zombies.</td>
                </tr>
                <tr>
                    <td>Sunflower</td>
                    <td><img src='.../imgs/sunflower.png' alt=''></td>
                    <td>Periodically generates gold.</td>
                </tr>
                <tr>
                    <td>Wallnut</td>
                    <td><img src='.../imgs/wall_nut.png'></td>
                    <td>Blocks zombies.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class='zombieTable'>
        <table>
            <thead>
                <tr>
                    <th>Zombie</th>
                    <th>Appearance</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Regular</td>
                    <td><img src='.../imgs/zombie.png'></td>
                    <td>Just a regular zombie.</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>