<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/scoreboard_styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <title>Scoreboard</title>
</head>
<body class='container'>
    <nav class='navbox'>
        <ul class='navmenu'>
            <li><a href="{{ url_for('.home') }}">Home</a></li>
            <li><a href="{{ url_for('.score') }}">Scoreboard</a></li>
            <li><a href="{{ url_for('.about') }}">About</a></li>
        </ul>
    </nav>
    <div class='title'>PLANTS VS ZOMBIES</div>
    <div class='scoreboardHeader'>Scoreboard</div>
    <table class="scoreboard">
        <thead>
            <tr>
                <th>Name</th>
                <th>id</th>
                <th>level</th>
                <th>score</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
            <tr>
                <td>{{score.name}}</td>
                <td>{{score.id}}</td>
                <td>{{score.level}}</td>
                <td>{{score.score}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <footer>ACIT 2911 - Group 2</footer>
</body>
</html>