* {
    margin: 0;
    padding-left: 0rem;
    font-size: 1rem;
    font-family: 'Pangolin', cursive;
    background-color: #2E8B57;
    color: #faf4ed;
}

.container {
    display: grid;
    grid-template-rows: 25px 50px 1fr 3fr 25px;
    grid-template-areas: 
        'a'
        'b'
        'c'
        'd'
        'e';
    gap: 0.5rem;
}

.navbox {
    grid-area: a;
}

.navmenu li {
    display: inline;
    margin-right: 2rem;
    padding-left: 1rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.title {
    grid-area: b;
    padding-left: 1rem;
    font-size: 3rem;
    font-weight: bold;
    border-top: 2px solid #faf4ed;
    border-bottom: 2px solid #faf4ed;
}

.scoreboardHeader {
    grid-area: c;
    padding-left: 1rem;
    font-size: 2rem;
}

.scoreboard {
    grid-area: d;
    font-size: 1.5rem;
    background-color: #faf4ed;
}

th {
    background-color: #8FBC8F;
}

td {
    background-color: #8FBC8F;
}

footer {
    grid-area: e;
    padding-left: 1rem;
    border-top: 2px solid #faf4ed;
}