<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home_styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body class='container'>
    <div class='navbar'>
        <img src='images/pvz_logo.png' alt='pvz logo' height='120'>
        <ul>
            <li><a href=home.html>Home</a></li>
            <li><a href=scoreboard.html>Scoreboard</a></li>
            <li><a href=about.html>About</a></li>
        </ul>
    </div>
    <div class='howTo'>
        How to install and play:
        <ol>
            <li>In powershell, cd to the game directory</li>
            <li>Run 'python app.py [name]' in the console, replacing [name] with your name</li>
            <li>Install any python modules that you may be missing using 'pip install [module], replacing [module] with whatever module the console says you're missing</li>
            <li>Repeat steps 2 and 3 until you're no longer missing any modules</li>
            <li>Use the number keys to place plants and survive for as long as you can!</li>
        </ol>
    </div>
    <div class='plantTable'>
        <table>
            <thead>
                <tr>
                    <th>Plant</th>
                    <th>Appearance</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pea Shooter</td>
                    <td><img src='../imgs/peashooter.png'></td>
                    <td>It shoots peas!</td>
                </tr>
                <tr>
                    <td>Snow Pea</td>
                    <td><img src='../imgs/snowpea.png'></td>
                    <td>Shoots peas that freeze zombies.</td>
                </tr>
                <tr>
                    <td>Sunflower</td>
                    <td><img src='../imgs/sunflower.png'></td>
                    <td>Periodically generates gold.</td>
                </tr>
                <tr>
                    <td>Wallnut</td>
                    <td><img src='../imgs/wall_nut.png'></td>
                    <td>Blocks zombies.</td>
                </tr>
                <tr>
                    <td>Lychee Bomb</td>
                    <td><img src='../imgs/lychee_bomb.png'></td>
                    <td>Explodes and damages zombies in a 9x9 square.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class='zombieTable'>
        <table>
            <thead>
                <tr>
                    <th>Zombie</th>
                    <th>Appearance</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Regular</td>
                    <td><img src='../imgs/zombie.png'></td>
                    <td>Just a regular zombie.</td>
                </tr>
                <tr>
                    <td>Buckethead</td>
                    <td><img src='../imgs/buckethead.png'></td>
                    <td>A tankier zombie! Loses its bucket helmet at 80% health and its head at 20%.</td>
                </tr>
                <tr>
                    <td>Newspaper</td>
                    <td><img src='../imgs/newspaper.png'></td>
                    <td>Speeds up after its newspaper is destroyed.</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>