* {
    margin: 0;
    padding-left: 0rem;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color: #faf4ed;
    text-shadow:
     1px 2px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

body {
    background-image: url('../images/day.png');
    background-repeat: repeat;
}

a {
    text-decoration: none;
    font-size: 40px;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #8FBC8F;
    height: 125px;
    width: 100%;
    border-bottom: 2px solid black;
}

.navbar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    padding-top: 1rem;
    padding-left: 2rem;
}

.navbar ul li {
    display: inline;
    margin-right: 2rem;
    text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

.zombieTable {
    margin-top: 1rem;
    margin-left: 2rem;
    height: 90%;
    width: 90%;
    background-color: #8FBC8F;
}

table {
    border: 2px solid black;
    width: 100%;
}

th {
    border: 2px solid black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

td img {
    vertical-align: middle;
}

td {
    border: 2px solid black;
    text-align: center;
    font-size: 25px;
    text-shadow:
    1px 2px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

.plantTable {
    margin-top: 1rem;
    margin-left: 2rem;
    height: 90%;
    width: 90%;
    background-color: #8FBC8F;
}

.description {
    margin-top: 1rem;
    margin-left: 2rem;
    height: 90%;
    width: 90%;
    background-color: #8FBC8F;
    border: 2px solid black;
    padding-left: 0.5rem;
}

.description p {
    padding-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    text-shadow:
     1px 2px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.oglink {
    margin-top: 1rem;
    margin-left: 2rem;
    height: 90%;
    width: 380px;
    background-color: #8FBC8F;
    border: 2px solid black;
    padding-left: 0.5rem;
}

.oglink p {
    padding-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    text-shadow:
     1px 2px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.scoreboardHeader {
    margin-top: 1rem;
    margin-left: 2rem;
    height: 90%;
    width: 90%;
    background-color: #8FBC8F;
    border: 2px solid black;
    text-align: center;
    font-size: 40px;
}

.scoreboard {
    margin-left: 2rem;
    height: 90%;
    width: 90%;
    background-color: #8FBC8F;
}

.scores {
    font-size: 25px;
}

.player {
    margin-top: 1rem;
    margin-left: 2rem;
    width: 20%;
    background-color: #8FBC8F;
    border: 2px solid black;
    text-align: left;
    padding-left: 5px;
}

h1 {
    text-align: left;
    padding: 0px;
    font-size: 30px;
}

/* About page css */
.Group2 {
    margin-top: 15px;
    text-align: center;
    font-size: 45px;
}

.grid-container {
    display: grid;
    grid-template-rows: 270px 80% 5%;
    grid-template-columns: 1fr 1500px 1fr;
    height: 1100px;
    width: 100vw;
}

.people {
    display: grid;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #8FBC8F;
    border: 3px solid black;
}

.general-info {
    background-color: #8FBC8F;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    border: 3px solid black;
}

.company {
    margin-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.profile {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 15px;
}

footer {
    grid-row: 3 / 4;
    grid-column: 1 / 5;
    bottom: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}
